
*{margin: 0;padding: 0;}
body{
    font-family: 'Poppins', sans-serif;
}
.back-top{
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 25px;width: 40px ;height: 40px;
    background-color: #333;
    color: #ddd;
    border-radius: 50%;text-align: center;
}
.logo-text{
    font-size: 40px;
    font-family: 'Berkshire Swash',cursive;
}
.logo-dot{
    font-size: 40px;
    margin-left: 3px;
    color: #4eda4e;
}




.slider-img {
    height: 85vh;
    background-image: url(images/harley-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-wrap{
    width: 60%;;
}
.slide-details{
    color: #ddd
}
